@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400");

body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

//  LANDING
.landing {
  width: 100vw;
  height: 100vh;

  .img {
    background: url(../img/bg.png) center center / cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    display: flex;

    .svg {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    img {
      height: 580px;
      margin-left: 13vw;
      animation: img 1s ease;
    }
    .text {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      h1 {
        font-size: 3.5em;
        text-align: center;
        color: #4a8cff;
        animation: h1 5s ease;
      }

      h3 {
        font-size: 2em;
        text-align: center;
        font-weight: 300;
        color: #4a8cff;
        animation: h1 6s ease;
      }
    }
  }
}

// @keyframes img {
//   0% {
//     transform: translateX(50vw);
//   }
//   50% {
//     transform: translateX(-5vw);
//   }
// }

// @keyframes h1 {
//   0% {
//     transform: translateY(-150vh);
//   }
//   50% {
//     transform: translateY(0);
//   }
// }

// INFO
.infoSection {
  height: 40vh;
  background: radial-gradient(#28c770, #000000e0),
    url(https://images.pexels.com/photos/194511/pexels-photo-194511.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260)
      no-repeat center center / cover;
  display: flex;
  flex-direction: column;

  h2 {
    color: #fff;
    text-align: center;
    margin-top: 5vh;
    font-weight: 300;
    font-size: 3em;
  }
  p {
    color: #fff;
    width: 90vw;
    margin: 0 auto;
    line-height: 2;
    text-align: center;
  }
}
